# dependencies
/node_modules

# next.js
/.next
/out

# environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# vercel
.vercel

.claude

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

requirements.txt

ARCHITECTURE.md
Camera.md
FEATURES.md

# database
supabase

next-env.d.ts
package-lock.json
tsconfig.json
.eslintcache